body {
    font-family: Verdana, Arial, sans-serif;
    font-size: smaller;
    padding: 50px;
    color: #555;
}

h1 {
    text-align: center;
    letter-spacing: 6px;
    color: #7B68EE;
    width: 450px;
}

table {
    width: 580px;
    padding: 10px;
    background-color: #B0C4DE;
    border: 1px solid #40658d;
    border-radius: 5px;
}

td {
    padding: 10px;
}

a:link {
    color: #7B68EE;
    font-weight: normal;
    text-decoration: none;
}

a:link:hover {
    color: #7B68EE;
    font-weight: normal;
    text-decoration: none;
}

span {
    color: #c9302c;

}